<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="icon" href="https://img.icons8.com/ios/50/000000/partly-cloudy-day.png">
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
<div class="container">
  {{>header}}
    <div class="about">
        <p style="color: #222f3e">my name is X , a 20 years old programmer  .this is my first real world app running on the server side
            <br>

        </p>
    </div>
</div>
  {{>footer}}

</body>
</html>