<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>help</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
<div class="container">
  {{>header}}
    <div class="about">
        <p style="color: #222f3e">my name is X and am an emperor with great empire .i have my Queen okami and my wabbit harim
            <br>

        </p>
    </div>
</div>
  {{>footer}}

</body>
</html>