<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
<div style="width: 100% ; height: 100vh">
    <div class="container">
    {{>header}}
        <div class="help">
            <p style="color: #222f3e">its a weather app what you want here go help your self under the Rain...</p>
        </div>
    </div>
    {{>footer}}

</div>

</body>
</html>