<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="icon" href="https://img.icons8.com/ios/50/000000/partly-cloudy-day.png">
    <link rel="stylesheet" href="./style/style.css">
    <script defer src="./js/consol.js"></script>
</head>
<body>
<div class="container">
   {{>header}}
  <div class="formContainer">
      <form>
          <input placeholder="location">
          <button>submit</button>
      </form>
      <p id="message-1"></p>
      <p id="message-2"></p>
  </div>

</div>

{{>footer}}
</body>
</html>